<section class="prose m-auto px-4 pb-10 z-30">
  <h1 class="mb-0">About me</h1>
  <div class="divider divider-primary mt-0"></div>
  <p>
    I'm currently a software engineer at the
    <a class="link link-primary" href="https://www.jhuapl.edu/" target="_blank">
      Johns Hopkins University Applied Physics Lab</a>. I graduated <i>magna cum laude</i> from UMBC with a degree in Bioinformatics and Computer Science. As a developer, my main goal
    is to build projects that have a positive impact. I enjoy being part of a
    team that is creating tools that are helping the world become more
    efficient, safe, inclusive, and connected.
  </p>
</section>
