<section class="prose m-auto px-4 pb-10">
  <h1 class="mb-0">About me</h1>
  <div class="divider divider-primary mt-0"></div>
  <p>
    I'm currently working as a software engineer at the
    <a class="link link-primary" href="https://www.jhuapl.edu/" target="_blank">
      Johns Hopkins University Applied Physics Lab</a
    > developing physics simulation and modeling tools. I graduated <i
      >magna cum laude</i
    > from UMBC with a degree in Bioinformatics and Computer Science in 2023, and
    started my Master's degree in Computer Science at Johns Hopkins University in
    2024.
  </p><p>
    As a developer, my main professional goal is to build projects that have a
    positive impact. I really enjoy being a part of teams that are creating
    tools to help the world become more efficient, safe, inclusive, and
    connected.
  </p>
</section>
