<section class="w-full bg-base-200 px-4 pb-10">
    <div class="prose m-auto">
      <h1 class="mb-0">Lets's Connect</h1>
      <div class="divider divider-primary mt-0"></div>
      <p>
        I love collaboration and I am currently looking for new opportunites! Please feel free to reach out to me whichever way is best for you, I am activly checking all of the contact methods listed here, so please feel free to send me an email, message, connection request, DM, etc.
      </p>
    </div>
</section>
  