<section class="w-full bg-base-100 px-4 pb-10">
  <div class="prose m-auto">
    <h1 class="mb-0">Projects</h1>
    <div class="divider divider-primary mt-0"></div>
    <p>
      Please, feel free to take a look at some of the cool things I've
      developed.
    </p>
  </div>
</section>
